.featuredProduct {
  margin: 100px 200px;

  .featured__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h2 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray
    }
  }

    .featured_bottom {
      display: flex;
      justify-content: center;
      gap: 50px;
    }

}