.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .images {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

    &:hover {
      .secondImg {
        z-index: 2;
      }
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .firstImg {
      z-index: 1;
    }
  }
}